<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron text-center background">
    <i class="fas fa-book-reader fa-6x"></i>
    <h1 class="display-3 title">Story of My Life</h1>
    <p class="lead">Share your moment!</p>

    <% userSecrets.forEach(function(secret,index){ %>
    <form action="/delete" method="POST">
      <li class="list">
        <div class="item secret-text">
          <label for="x-button"><%=secret%></label>
          <button class="x-button" id="x-button" type="submit">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <input type="hidden" name="checkbox" value="<%=index%>" />
      </li>
      <input type="hidden" name="userId" value="<%= user.id %>" />
    </form>
    <% }); %>

    <form action="/submit" method="POST">
      <div class="form-group">
        <textarea
          type="text"
          class="form-control txtarea"
          name="secret"
          placeholder="Once upon a time..."
          rows="4"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Publish</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
